body {
  background-color: #f9f7fe;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  max-width: 600px;
  margin: 120px auto;
}
header {
  margin: 30px;
}
h1 {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
.formContainer{
    background-color: #ffffff;
  box-shadow: 0 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px; border-radius: 10px;
  margin-bottom: 30px;
}
form {
   display: flex;
  }
.search-input {
  width: 80%;
  padding: 15px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 30px;
  line-height: 20px;
  color: #272044;
}
.button {
  font-size: 16px;
  margin-left: 8px;
  color: #ffffff;
  background-color: #885df1;
  width: 100px;
  border: none;
  border-radius: 30px;
  padding: 15px;
}.hint{
    margin-top: 5px;
    line-height: 1.5;
    font-size: 13px;
    opacity: 0.6;
}
.poem {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 2;
  box-shadow: 0 4px 30px 0 rgba(39, 33, 66, 0.03);
  border-left: 3px solid #885df1;
 
  padding: 20px;
}
.hidden{
    display: none;
}
footer {
    margin-top: 30px;
  text-align: center;
  font-size: 15px;
}
a,
.poem strong {
  color: #885df1;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}